<h1>Houston, we have a problem</h1>
<p>A technical glitch prevented us from loading the app for you. Sorry!</p>
<p>The following may help explain what went wrong...or simply confuse you further:</p>
<blockquote>
  {{message}}
</blockquote>
<p>Please report this problem if you have a moment. And if not, simply go about your day and try again later; hopefully it'll be fixed by then magically!</p>