<div class="banner">Take control of your online&nbsp;data</div>
<div class="subbanner">Your personal data is scattered across the Internet. Sync it all to your cloud storage account so you have everything in one place.</div>
{{#link-to 'storages'}}Get started{{/link-to}}