<div class="banner">Take control of your online&nbsp;data</div>
<div class="subbanner">Your personal data is scattered across the Internet.<br />We’ll copy it to your online storage account so you have everything in one place – now and forever.</div>
{{#link-to 'storages-picker' invokeAction=(action 'trackEvent' 'Started onboarding')}}Get started{{/link-to}}