{{input type='checkbox' id=(concat 'service-' service.id) checked=service.isSelected click=(action 'trackEvent' 'Changed picker selection' properties)}}
<label for="service-{{service.id}}">{{service.name}}</label>