section.dashboard {
  .standard-transition-states;
  display: flex;
  padding: 3em;

  &:not(.loaded) * {
    display: none;
    opacity: 0;
  }
  
  div.services {
    border-left: 1px solid @standard-border-color;
    margin-left: 3em;
    padding-left: 3em;
    width: 20em;

    h2 {
      padding-top: 0;
    }

    section.loaded {
      margin-bottom: 4em;
    }

    li.source, li.storage {
      font-size: 20px;

      >a, >div {
        padding: 20px;
      }
    }
  }

  div.items {
    position: relative;
    width: ~"calc(100% - 20em)";

    section.notice {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: inherit;
    }
  }

  div.start {
    width: 100%;
    
    button {
      margin-top: 3em;
    }
  }
}