section.intro {
  .standard-container;
  margin-top: 4em;

  @media @mobile {
    margin: 1em auto 2em auto;
  }

  div.banner {
    .standard-text;
    .standard-font-bold;
    font-size: (48em / 16);
    margin: auto;
  }

  div.subbanner {
    .standard-text;
    font-size: 1.625em;
    line-height: 1.5em;
    margin: 1.23em auto auto auto;
    text-align: center;
    width: 26em;
  }

  a {
    .standard-button;
    margin-top: calc(4em / 1.25);
  }
}