section.notice {
  p {
    margin: 1em auto auto auto;
    max-width: 500px;
  }

  a {
    .standard-button;

    &.subtle {
      .standard-button-subtle;
    }
  }

  a, button {
    margin-top: 3em;
  }
}
